@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model Dictionary<int, int>


<html>
<head>
    <style>
        #map {
            height: 50vh; /* Default height */
        }
    </style>
</head>
<body>
    <div class="container-fluid py-4">
        <div class="row">
            @foreach (var item in Model)
            {
                var key = item.Key.ToString(); // Convert the key to string
                if (key == "1") // Compare with string "1"
                {
                    key = "Bridge";
                    <div class="col-lg-3">
                        <div class="card  mb-2">
                            <!-- Card content for Bookings -->
                            <div class="card-header p-3 pt-2 bg-transparent">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="fa-solid fa-road-bridge"></i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-l mb-0 text-capitalize">@key</p>
                                    <h4 class="mb-0">@item.Value</h4>
                                </div>
                            </div>

                            <hr class="dark horizontal my-0">
                            <div class="card-footer p-3">
                                <a href="#" class="text-success text-sm font-weight-bolder">More Details </a>
                            </div>
                        </div>
                    </div>
                }
                if (key == "2") // Compare with string "1"
                {
                    key = "Road";
                    <div class="col-lg-3">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2 bg-transparent">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary shadow text-center border-radius-xl mt-n4 position-absolute">

                                    <i class="fa-solid fa-road"></i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-l mb-0 text-capitalize">@key</p>
                                    <h4 class="mb-0">@item.Value</h4>
                                </div>
                            </div>

                            <hr class="dark horizontal my-0">
                            <div class="card-footer p-3">
                                <a href="#" class="text-success text-sm font-weight-bolder">More Details </a>
                            </div>
                        </div>
                    </div>
                }
                if (key == "3") // Compare with string "1"
                {
                    key = "Underpass";
                    <div class="col-lg-3">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2 bg-transparent">
                                <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="fa-solid fa-car-tunnel"></i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-l mb-0 text-capitalize ">@key</p>
                                    <h4 class="mb-0 ">@item.Value</h4>
                                </div>
                            </div>

                            <hr class="horizontal my-0 dark">
                            <div class="card-footer p-3">
                                <a href="#" class="text-success text-sm font-weight-bolder">More Details </a>
                            </div>
                        </div>
                    </div>

                }
                if (key == "4") // Compare with string "1"
                {
                    key = "Footpath";
                    <div class="col-lg-3">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2 bg-transparent">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="fa-solid fa-xmarks-lines"></i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-l mb-0 text-capitalize ">@key</p>
                                    <h4 class="mb-0 ">@item.Value</h4>
                                </div>
                            </div>

                            <hr class="horizontal my-0 dark">
                            <div class="card-footer p-3">
                                <a href="#" class="text-success text-sm font-weight-bolder">More Details </a>
                            </div>
                        </div>

                    </div>


                }
            }


            @* <div class="col-lg-3">
                    <div class="card  mb-2">
                        <div class="card-header p-3 pt-2 bg-transparent">
                            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa-solid fa-xmarks-lines"></i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-m mb-0 text-capitalize ">Track And Footpath</p>
                                <h4 class="mb-0 ">+91</h4>
                            </div>
                        </div>

                        <hr class="horizontal my-0 dark">
                        <div class="card-footer p-3">
                            <p class="mb-0 ">Just updated</p>
                        </div>
                    </div>

                </div>*@
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                            <div class="chart">
                                <canvas id="pendingProjectsChart" width="400" height="400" ></canvas>
                                @* <canvas id="pendingProjectsChart" class="chart-canvas" height="340" style="display: block; box-sizing: border-box; height: 70px; width: 559.3px;" width="1118"></canvas>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0 ">Pending Projects </h6>
                        @*<p class="text-sm ">Last Campaign Performance</p>
                            <hr class="dark horizontal">
                            <div class="d-flex">
                                <i class="material-icons text-sm my-auto me-1">schedule</i>
                                <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                            <div class="chart">
                                <canvas id="ongoingProjectsChart" width="400" height="400"></canvas>
                                @* <canvas id="ongoingProjectsChart" class="chart-canvas" height="340" style="display: block; box-sizing: border-box; height: 170px; width: 559.3px;" width="1118"></canvas>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0 ">OnGoing Projects</h6>
                        @*<p class="text-sm ">Last Campaign Performance</p>
                            <hr class="dark horizontal">
                            <div class="d-flex">
                                <i class="material-icons text-sm my-auto me-1">schedule</i>
                                <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
                            <div class="chart">
                                <canvas id="completedProjectsChart" width="400" height="400"></canvas>
                                @*<canvas id="completedProjectsChart" class="chart-canvas" height="340" style="display: block; box-sizing: border-box; height: 170px; width: 559.3px;" width="1118"></canvas>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0 ">Complted Projects</h6>
                        @*<p class="text-sm ">Last Campaign Performance</p>
                            <hr class="dark horizontal">
                            <div class="d-flex">
                                <i class="material-icons text-sm my-auto me-1">schedule</i>
                                <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Content/js/chartData.js"></script>
    <script src="~/Content/js/chartData.js"></script>

    <script>
        // JavaScript code to initialize Chart.js and create a chart
        document.addEventListener('DOMContentLoaded', function () {


            const layers = [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),
                }),
            ];
            const map = new ol.Map({
                layers: layers,
                target: 'map',
                view: new ol.View({
                    center: ol.proj.fromLonLat([72.5714, 23.0225]),
                    zoom: 12, // Increased zoom level
                }),
            });

        });

    </script>

</body>
</html>